body {
    margin: 0px;
    padding: 0px;
    background: url('/img/background.jpg') ;
    background-size: 5900px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#navigbar {
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    margin: 10px 0px;
}

.logo img {
    border-radius: 18px;
}

#navigbar ul {
    display: flex;
}

#navigbar::before {
    content: " ";
    background-color: rgba(243, 247, 7, 0.932);
    width: 100px;
    height: 100%;
    z-index: -1;
    opacity: 0.90;
    background: url('/img/background.jpg');
}

#navigbar ul li {
    list-style-type: none;
    font-size: 1.2rem;
}

#navigbar ul li a {
    display: block;
    padding: 8px 40px;
    text-decoration: none;
    color: rgb(248, 3, 3);
    background-color: rgb(208, 255, 0);
    border: 3px solid rgb(255, 238, 2);
    border-radius: 125px;
    margin: 0px 12px;
    font-size: 1.40rem;
}

.search {
    display: inline-block;
    border: 2px solid yellow;
    position: absolute;
    right: 35px;
    top: 180px;
    
}

input {
    border: 3px yellow;
    height: 45px;
    width: 400px;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 32px;
}

#navigbar ul li a:hover {
    background-color: rgb(247, 6, 118);
    cursor: pointer;
    border-radius: 11px;
}

.heading {
    align-content: center;
    background-color: orange;
}

.content {
    overflow:hidden;
    position:relative;
    width:5000px;
    background: transparent;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    margin:0 auto;
    float: left;
    width: 70%;
    padding: 10px 23px 7px 28px;
    color: red;
    align-self: center;
}

.post .title {
    overflow:hidden;
    padding-top:10px;
    width:1000px;
    font-size: 2.0em;
    color: red;
}

.post .title h2 {
    color:red;
    font-size:2.5em;
    font-weight:400;
    line-height:1.01em;
    text-transform:none;
    padding:10px 0 0;
}

.post .text-box {
    font-size:2.00em;
    line-height:1.5em;
    overflow:hidden;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width:1000px;
    color: red;
}
.post .text-box img {
    height: 900px;
    width: 1000px;
}

.sidebar {
    float: left;
    width: 20% ;
    height: 2000px;
    line-height:4.6em;
    border-left:2px solid rgb(10, 10, 10);
    padding:0 39px 7px 25px;
}

.sidebar .block {
    padding:10px 10px 50px 7px;
    height: 20px;
    color: red;
}
.sidebar .block h2 {
    font-size:80px;
    margin:10px 0;
    color: #fd0606;
}

.sidebar .block h3 {
    font-size:90px;
    margin:10px 10px;
    color: #f80303;
    float: left;
}

.sidebar ul {
    width: 100%;
}

.sidebar li {
    color:#EF6A1B;
    font-size:25px;
    font-weight:1000;
    line-height:2.146em;
    padding:4px 0 5px;
}

.sidebar li a {
    color:#fa8703;
    font-size: 25px;
}